.Content{ 
    width: 100%;
    height: auto;
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 74% 25% ;
}
.Cont-Arti{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 10vw !important;
    width: 80%;
    height: 50vw;
    margin: .5vh 0px;
    gap: 1vw;
}
.Cont-Arti::-webkit-scrollbar {
    width: 0px;
}