article{
    width: 684px;
    height: 310px;
    border: solid #C5C5C5;
    margin-top: 100px;
    overflow: hidden;
    background-color: white;
}

div.header--article{
        height: 15%;
        width: 95%;
        padding: 5px 2.5%;  
        display: flex; 
        align-items: center;
        justify-content: space-between;
        background-color: #c5c5c530;
}

div.perfil-details{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
ul.perfil-details-date{
    margin-left: 10px;
}

ul{list-style: none;}

li.hrs{
    font-size: 10px;
    color: black;
}

li.icon-more{
    border: solid black;
}