.container-perfil {
    width:100%;
    height: fit-content;
    background: #F3F3F3;
}
.informacion-perfil {
    display: flex;
    width: calc(100% - 2vw);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.2vw;
    margin-left: 1vw;
}