.container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
<<<<<<< Updated upstream
    height: fit-content;
=======
    height:100vh;
>>>>>>> Stashed changes
}

.formulario {
    width: 30%;
<<<<<<< Updated upstream
    height: fit-content;
=======
    height: 95vh;
    background: #D9D9D9;
>>>>>>> Stashed changes
    /* border: solid #303061; */
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< Updated upstream
    background-color: #D9D9D9;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    padding-bottom: 30px;


}

.InteresesInputs{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    padding: 10px;
}
.InteresesInputs button{
    background-color: #EEEEEE;
    border-radius: 40px;
    border: 0px solid ;
    padding: 4px 10px 4px 10px;
    transition: .1s ease-in;
    cursor: pointer;
    color: #8F8F8F;
}
.InteresesInputs button:hover{
    background-color: #ababab;
}

.Redes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.IconoInput{
    display: flex;
    width: 100%;
    gap: 10px;
}

.IconoInput input{
    width: 60%;
=======
   font-family: "Inter", sans-serif;
   font-size: 12px;
   border: none;
>>>>>>> Stashed changes
}

.container-header {
    text-align: center;
    width: 90%;
    margin: 50px 0 10px 0;
}


.field {
    /* este es el contenedor del input */
    display: flex;
    flex-direction: column;
    width: 225px;
    height: auto;
    margin-top: 5px;
    color: #929292;
}

.formulario input {
    /*aqui es el input */
    width: 100%;
    margin: 7px 0;
    color: #2f2f2f;
    border-radius: 4px;
    border: 1px solid #C5C5C5;
    padding: 10px;

}

.field input::placeholder {
    color: #CCCCCC;
}


.checbox-field {
    /* contenedor del checbox */
    width: 48%;
    padding: 0 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}



.checbox-field .checkbox-label {
    /* texto del checkbox */
    font-size: 10px;
    text-align: start;
    margin-left: 10px;
}




.negrita {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.764);

}